
<footer>
    <div class="foot">
        <div class="head">
            <img class="head-img" src="https://scontent.flad8-1.fna.fbcdn.net/v/t39.30808-6/277736687_108863425119576_3105325277613192727_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=r6E2CMbxQQIQ7kNvgGou5z_&_nc_ht=scontent.flad8-1.fna&oh=00_AYAoDmbjbZacrYqn2IWn-q0tUkN3y8C1EOb9z6f9oR7NFg&oe=6678B692" alt="">
            <div class="head-text">
                <a href="http://localhost:4000/">MPD-Blog</a>
            </div>

          <div class="head-description">Apoie-nos(IBAN):
            <br>
            <h5>Angola: 0044.0000.3604.1822.1416.2</h5>
            <br>
            <h5>Europa: BE50 9672 4743 2818</h5>
                <br>
            <h5>EUA: 9600 0019 6080 9902</h5>
          </div>

          <div class="head-description1">Desenvolvido por: Vicente Cosmo
            <br>
<br>
        <p>C All rights reserved </p>    
        </div>
        </div>
    </div>
</footer>

</body>
</html>