
<footer>
    <div class="foot">
        <div class="head">
            <img class="head-img" src="https://scontent.flad8-2.fna.fbcdn.net/v/t39.30808-6/360128916_289347850424264_8097835581513529844_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=zpLOZvhUs04Q7kNvgEddpmj&_nc_ht=scontent.flad8-2.fna&oh=00_AYDHAqXR0t7Pd5OEHYR4tJzFxIoMXATfn15mDTQpypcpgA&oe=6694635C" alt="">
            <div class="foot-text">
                <a class="a" href="http://localhost:4000/">MPV-Blog</a>
            </div>

          <div class="foot-description">Contactos:
            <br>
            <br>
            <h5>+244 926 674 158</h5>
            <br>
            <h5>+244 943 336 412</h5>
                <br>
          </div>
  
          <div class="head-description1">Desenvolvido por: <br> Vicente Cosmo
            <br>
            <br>
        <p>C All rights reserved </p>    
        </div>
        </div>
    </div>
</footer>


</body>
</html>