<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="head">
            <img class="head-img" src="https://scontent.flad8-1.fna.fbcdn.net/v/t39.30808-6/277736687_108863425119576_3105325277613192727_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_ohc=r6E2CMbxQQIQ7kNvgGou5z_&_nc_ht=scontent.flad8-1.fna&oh=00_AYAoDmbjbZacrYqn2IWn-q0tUkN3y8C1EOb9z6f9oR7NFg&oe=6678B692" alt="">
            <div class="head-text">
                <a href="http://localhost:4000/">MPV-Blog</a>
            </div>
            <div class="head-description">Ministério Pão da Vida</div>
          
        </div>
    </header>