<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="head">
            <img class="head-img" src="https://scontent.flad8-2.fna.fbcdn.net/v/t39.30808-6/360128916_289347850424264_8097835581513529844_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=zpLOZvhUs04Q7kNvgEddpmj&_nc_ht=scontent.flad8-2.fna&oh=00_AYDHAqXR0t7Pd5OEHYR4tJzFxIoMXATfn15mDTQpypcpgA&oe=6694635C" alt="">
            <div class="head-text">
                <a href="http://localhost:4000/">MPV-Blog</a>
            </div>
            <div class="head-description"> Pão da Vida</div>

             <!--Menu hamburguer acima-->
             <div class="hambuguer" id="btn">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>
            </div>

            <div class="head-menu" id="head-menu">
                <div class="menu"> <a href="/"><div class="a">Home</div></a></div>
                <div class="menu"><a href="/admin_auth"><div class="a">Admin</div></a></div>
            </div>
            
        </div>

        <script>
            const btn= document.getElementById('btn')
            const menu=document.getElementById('head-menu')
    
            btn.addEventListener('click', ()=>{
                if(menu.style.display=='none'){
                    menu.style.display='block'
                }
                else {
                    menu.style.display='none'
                }
            })
        </script>

    </header>
