<%-  include('partials/header.ejs') %>

<section  id="create">
    <div class="heading">
        <h1>Create new blog</h1>
    </div>
    <div class="inside">
        <form action="">
        
            <div class="btn-container">
                <button class="btn">Seja bem-vindo, Sir Cornélio Manuel</button>
            </div>

            <div class="btn-container">
                <button class="btn"><a href="/createCornelio_cosmos_auth">Criar um novo conteúdo</a></button>
            </div>

            <div class="btn-container">
                <button class="btn">Editar um conteúdo: 
                    <br>
                    Para Editar um conteúdo, adicione o seguinte endereço "editCornelio_cosmos_auth/id", antenção:
                     substitua 'id' pelo número do conteúdo que se obtém ao cliquar em 'show more'
                </button>
            </div>

            <div class="btn-container">
                <button class="btn">Deletar um conteúdo: 
                    <br>
                    Para Deletar um conteúdo, adicione o seguinte endereço "deleteCornelio_cosmos_auth/id", antenção:
                     substitua 'id' pelo número do conteúdo que se obtém ao cliquar em 'show more'
                </button>
            </div>
        </form>
    </div>


</section>


<%- include('partials/footer.ejs') %>