*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
}

html{
    height: -web-kit-fill-available;
    width: -web-kit-fill-available;
}

body {
    background: #fff;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    height: -web-kit-fill-available;

    @media screen and (device-width: 480px) and (device-height: 600px)  {
        /*header*/
 header {
    background: #fff;
    padding: 10px;
    font-size: 20px;
    font-weight: 300;
    color: #555;
    position: fixed;
    width: 100%;
    height: 100px;
}
.head{
    display: flex;
}
.head-text{
    margin-top: 3%;
    width: 100%;
}
.head-img{
    width: 100px;
    border-radius: 20%;
    margin-left: 0%;
    image-rendering: pixelated;
    height: 100px;
    margin-top: -2%;
}
.head-text a {
    text-decoration: none;
    color: #fff;
    text-shadow: 0 0 5px #fff;
    width: 0%;
}
.head-description{
    font-size: 30px;
    width: 100%;
    margin-top: 4.5%;
    margin-left: -58%;
    color: #f9d979;
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000);*/
    line-height: 0,7em;
    outline: none;
    text-shadow: 0 0 5px #080f3b;
    }
    .head-menu .a{
      margin-top: 15%;
    }
    .hambuguer{
        width: 100%;
        visibility: visible;
        margin-top:7%;
        margin-right: -50%;
    }
    .bar1{
        width: 30px;
        height: 4px;
        background-color: #f9d979;
        margin-bottom: 1%;
        background-color: #000;
    }
    .bar2{
        width: 25px;
        height: 4px;
        background-color: #f9d979;
        margin-top: 1%;
    }
    .bar3{
        width: 30px;
        height: 4px;
        background-color: #f9d979;
       background-color: #000;
       margin-top: 1%;
    }
    .menu{
       
        font-size: 20px;
        position: relative;
        
    }
    .head-menu{
        margin-left: 0%;
        width:50%;
        color: #f9d979;
        margin-top: 22%;
        position: fixed;
        background-color: #080f3b;
        height: 40%;
       display: none;
       
    }
    .head-menu a{
        color: #f9d979;;
    }
    .head-img, .head-description{
        display: flex;
    }

/**/

/*back*/
.back{
    background-image: url('https://scontent.flad8-2.fna.fbcdn.net/v/t39.30808-6/450074665_1081494453980212_3693080927717795050_n.jpg?stp=dst-jpg_p526x296&_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=QacW-mW3V6QQ7kNvgFnrtY3&_nc_ht=scontent.flad8-2.fna&oh=00_AYBV9kIRUuqSfQ7vrnP05ovikWoubUiw6XvfwU5MGSYYRQ&oe=66972FA0');
    width: 100%;
    height: 700px;
    background-size: cover;
    .back-h1{
        color: #fff;
    }
    .back-h1 h1{
        text-align: center;
        align-items: center;
        margin-top: 40%;
        font-size: 30px;
    }
}
.back1{
    background-image: url('https://scontent.flad8-2.fna.fbcdn.net/v/t39.30808-6/450074665_1081494453980212_3693080927717795050_n.jpg?stp=dst-jpg_p526x296&_nc_cat=107&ccb=1-7&_nc_sid=833d8c&_nc_ohc=QacW-mW3V6QQ7kNvgFnrtY3&_nc_ht=scontent.flad8-2.fna&oh=00_AYBV9kIRUuqSfQ7vrnP05ovikWoubUiw6XvfwU5MGSYYRQ&oe=66972FA0');
    width: 100%;
    height: 400px;
    background-size: cover;
    .back-h1{
        color: #fff;
    }
    .back1-h1 h1{
        text-align: center;
        align-items: center;
        margin-top: 30%;
        font-size: 35px;
    }
}
/**/

/*All-Container*/
a {
    text-decoration: none;
    color: #555;
}
.create-link-container {
    padding: 20px 0 0;
}
.create-link {
   margin: 0 0 0 20px;

   text-decoration: underline;
}
#all-contents {
    padding: 80px 0;
}
#all-contents .inside {
    padding: 20px 0 0 50px;
    width: 90%;
    box-shadow: 0 0 5px #777;
    align-items: center;
    /*margin-left: 20%;*/
    margin-left: 5%;
    margin-bottom: -5%;
}
#all-contents .image-container{
    margin-left: 0%;
    
}
#all-contents .title {
    margin: 0 0 5px;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #000;
    margin-left: 30%;

}
#all-contents .subtitle {
    margin: 0 0 0px;
    text-transform: capitalize;
    text-align: center;
    color: #444;
    margin-left: -8%;
}

#all-contents .description {
    text-align: center;
    font-size: 1.3rem;
    padding: 0 0 20px;
}

#all-contents .btn-container {
    width: 100%;
    padding: 0 0 10px 
 }
#all-contents .btn {
    margin-left: 30%;
   padding: 10px 15px;
   color: white;
   background: #f9d979;
   margin-top: 10px;
}


#all-contents  .hr {
    opacity: .5;
   background: #f8f8f8;
   padding: 1px;
   width: 100%;
   margin: 10px 0;
   position: absolute;
   left: 0;
   right: 0;
}
#all-contents  img {
  width: 90%;
  height: 200px;
  align-items: center;
}
.created{
    color: #999;
}

/**/

/*Show*/
#show .inside{
    margin-top: 10%;
    display: block;
    color: #333;
}

#show .subtitle{
   text-align: center;
}

#show .description{
    padding: 5px;
   margin-left: 4%;
}

#show .title{
    font-size: 1.8rem;
    color: #000;
    margin: 0 0 5px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5%;
}
#show .inside {
    padding: 50px 10px 10px 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    display: block;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
   /* box-shadow: 0 0 5px #777;*/
}

#show img {
    width: 97%;
    height: 300%;
    align-items: center;
    image-rendering: pixelated;
    margin-left: 3%;
}
/**/


#create .heading {
    width: 100%;
    text-align: center ;
    padding: 15px 0;
}

#create .inside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  
    
}
#create input {
    display: block;
    margin: 20px 0;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    width: 100%;

}

#create  .btn{
   

}

#create  .btn-container {
width: 100%;
display: block ;
 text-align: center;

}

#create  .btn-container  button{
    margin: 20px 0 0 0;
    background: dodgerblue;
    padding: 20px 30px;
    border-radius: 3px;
    color: ghostwhite;
    cursor: pointer;
    outline: none;
    border: none;
    
    
 }



.show-btn {
    padding: 50px 0 0;
   
}
.edit-btn {
    background: orange;
    padding: 10px;;
    border-radius: 5px;
    visibility: collapse;
}

.delete-btn {
    background: red;
    padding: 10px;
    border-radius: 5px;
    visibility: collapse;
}

/*edit and create*/

.inside{
    margin-top: 10%;
    width: 70%;
    box-shadow: 0 0 5px #777;
    padding: 20px;
}

.inside label{
    width: 50%;
    
}
.inside textarea{
    width: 100%;
}


/**/

/*footer*/
.foot{
    background-color: #080f3b;
    width: 100%;
    height: 200px;
    margin-top: 20%;
}
.foot .head-img{
    margin-top: 2%;
}
.foot-text {
    margin-top: 2%;
}
.foot-description{
    margin-left: -3%;
    color: #f9d979;
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000);*/
    line-height: 0,7em;
    outline: none;
    text-shadow: 0 0 5px #080f3b;
    }

    .foot-text a{
        color: #f9d979;
    }

    .head-description1{
        margin-left: 2.5%;
    }

/**/
        
    }
}

/*header*/
header {
    background: #fff;
    padding: 10px;
    font-size: 2rem;
    font-weight: 300;
    color: #555;
    position: fixed;
    width: 100%;
}
.head{
    display: flex;
}
.head-text{
    margin-top: 2%;
}
.head-img{
    width: 80px;
    border-radius: 24%;
    margin-left: 5%;
}
.head-text a {
    text-decoration: none;
    color: #f9d979;
    text-shadow: 0 0 5px #fff;
    width: 100%;position: absolute;
}
.head-description{
    width: 25%;
    margin-top: 2%;
    margin-left: 25%;
    color: #f9d979;
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000);*/
    line-height: 0,7em;
    outline: none;
    text-shadow: 0 0 5px #080f3b;
    }
    .head-menu{
        margin-left: 7%;
        display: flex;
        width:30%;
        color: #f9d979;
        margin-top: 3%;
    }
    .head-menu a{
        color: #f9d979;;
    }
    .bar1{
        width: 25px;
        height: 5px;
        background-color: #f9d979;
        margin-bottom: 4%;
        background-color: #000;
    }
    .bar2{
        width: 20px;
        height: 5px;
        background-color: #f9d979;
        margin-top: 4%;
    }
    .bar3{
        width: 25px;
        height: 5px;
        background-color: #f9d979;
        margin-top: 4%;
        background-color: #000;
    }
    .menu{
        margin-left: 10%;
        font-size: 20px;
        
    }
    .hambuguer{
        position: relative;
        width: 10%;
        visibility: visible;
        margin-top: 3%;
        margin-left: 5%;
      visibility: hidden;
    }



/**/

/*back*/
.back{
    background-image: url('https://scontent.flad8-1.fna.fbcdn.net/v/t39.30808-6/381063746_852188450244148_7281455442309428839_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=1lpaGjfluAwQ7kNvgFZAer3&_nc_ht=scontent.flad8-1.fna&oh=00_AYBHjwT8gjeWNvelMYxPFFg7MsrUkDgxyOmPuhxnssBblQ&oe=6694546C');
    width: 100%;
    height: 700px;
    background-size: cover;
    .back-h1{
        color: #fff;
    }
    .back-h1 h1{
        text-align: center;
        align-items: center;
        margin-top: 20%;
        font-size: 50px;
    }
}
.back1{
    background-image: url('https://scontent.flad8-1.fna.fbcdn.net/v/t39.30808-6/381063746_852188450244148_7281455442309428839_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=cc71e4&_nc_ohc=1lpaGjfluAwQ7kNvgFZAer3&_nc_ht=scontent.flad8-1.fna&oh=00_AYBHjwT8gjeWNvelMYxPFFg7MsrUkDgxyOmPuhxnssBblQ&oe=6694546C');
    width: 100%;
    height: 400px;
    background-size: cover;
    .back-h1{
        color: #fff;
    }
    .back1-h1 h1{
        text-align: center;
        align-items: center;
        margin-top: 10%;
        font-size: 50px;
    }
}

/**/

/*All-Container*/
a {
    text-decoration: none;
    color: #555;
}
.create-link-container {
    padding: 20px 0 0;
}
.create-link {
   margin: 0 0 0 20px;

   text-decoration: underline;
}
#all-contents {
    padding: 80px 0;
}
#all-contents .inside {
    padding: 20px 0 0 50px;
    width: 60%;
    box-shadow: 0 0 5px #777;
    align-items: center;
    /*margin-left: 20%;*/
    margin-left: 18%;
    margin-bottom: -5%;
}
#all-contents .image-container{
    margin-left: 16%;
    
}
#all-contents .title {
    margin: 0 0 5px;
    font-size: 1.5rem;
    text-transform: capitalize;
    color: #000;
    margin-left: 36%;

}
#all-contents .subtitle {
    margin: 0 0 5px;
    text-transform: capitalize;
    margin-left: 40%;
    color: #444;
}

#all-contents .description {
    text-align: center;
    font-size: 1.3rem;
    padding: 0 0 20px;
}

#all-contents .btn-container {
    width: 100%;
    padding: 0 0 10px 
 }
#all-contents .btn {
    margin-left: 36%;
   padding: 10px 15px;
   color: white;
   background: #f9d979;
}


#all-contents  .hr {
    opacity: .5;
   background: #f8f8f8;
   padding: 1px;
   width: 100%;
   margin: 10px 0;
   position: absolute;
   left: 0;
   right: 0;
}
#all-contents  img {
  width: 60%;
  height: 200px;
  align-items: center;
}
.created{
    color: #999;
}

/**/

/*Show*/
#show .inside{
    margin-top: 10%;
    display: block;
    color: #333;
}
#show .title{
    font-size: 1.8rem;
    color: #000;
    margin: 0 0 5px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 5%;
}

#show .subtitle{
    margin: 0 0 5px;
    text-align: center;
    margin-bottom: 5%;
}

#show .description{
    margin: 0 0 5px;
    text-align: center;
    margin-bottom: 5%;
}

#show .inside {
    padding: 50px 10px 10px 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: center;
    align-items: center;
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
   /* box-shadow: 0 0 5px #777;*/
}

#show img {
    width: 97%;
    height: 300%;
    align-items: center;
    image-rendering: pixelated;
    margin-left: 3%;

}
/**/


#create .heading {
    width: 100%;
    text-align: center ;
    padding: 15px 0;
}

#create .inside {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#create textarea{
    font-size: 15px;
}
#create input {
    display: block;
    margin: 20px 0;
    padding: 20px;
    outline: none;
    border-radius: 10px;
    width: 100%;
    font-size: 15px;

}

#create  .btn{
   

}

#create  .btn-container {
width: 100%;
display: block ;
 text-align: center;

}

#create  .btn-container  button{
    margin: 20px 0 0 0;
    background: dodgerblue;
    padding: 20px 30px;
    border-radius: 3px;
    color: ghostwhite;
    cursor: pointer;
    outline: none;
    border: none;
    
    
 }



.show-btn {
    padding: 50px 0 0;
   
}
.edit-btn {
    background: orange;
    padding: 10px;;
    border-radius: 5px;
    visibility: collapse;
}

.delete-btn {
    background: red;
    padding: 10px;
    border-radius: 5px;
    visibility: collapse;
}

/*edit and create*/

.inside{
    margin-top: 10%;
    width: 70%;
    box-shadow: 0 0 5px #777;
    padding: 20px;

}

.inside label{
    width: 50%;
    
}
.inside textarea{
    width: 100%;
}


/**/

/*Admin_auth*/
.inside_auth{
    margin-top: 10%;
    width: 100%;
    box-shadow: 0 0 5px #777;
    padding: 2px;
    display: flex;
    align-items: center;
    background-color: #f9d979;
    height: 600px;
}

 

.inside_auth input{
    font-size: 15px;
    width: 100%;
    border-bottom: 1px solid #080f3b;
    color: #080f3b;
}

.auth_lb1{
    color: #080f3b;

}

.auth_lb2{
    color: #080f3b;
    margin-top: 15%;
}

.auth_input2 {
    width: 65%;
}

.auth_input1, .auth_lb1{
    display: inline-flex;
    margin-left: 5%;
   
  }

  .auth_input2, .auth_lb2{
    display: inline-flex;
    margin-left: 5%;
  }

.auth_input1{
    width: 70%;
   
}
.user{
    width: 100%;
    background-color: #f9d979;
    border: 0px;
}

/**/

/*footer*/
.foot{
    background-color: #080f3b;
    width: 100%;
    height: 200px;
    margin-top: 20%;
}
.foot-description{
    text-align: center;
    margin-top: 2%;
    margin-left: 20%;
    color: #f9d979;
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000);*/
    line-height: 0,7em;
    outline: none;
    text-shadow: 0 0 5px #080f3b;
    }
    .head-description1{
        text-align: center;
        margin-top: 2%;
        margin-left: 15%;
        color: #f9d979;
       /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000);*/
        line-height: 0,7em;
        outline: none;
        text-shadow: 0 0 5px #080f3b;
        }
        .foot-text .a{
            margin-top: 2%;
            color: #f9d979;
        }
/**/

.textL{
   margin-top: 7%;
    color: #f9d979;
   /* -webkit-box-reflect: below 1px linear-gradient(transparent, #000);*/

    text-shadow: 0 0 5px #080f3b;
}
.container a{
    display: flex;
}